APScheduler
ffmpeg_python
playwright
pydub
Requests
SQLAlchemy
pymysql
loguru
edge_tts
snownlp
dbutils
httpx
tenacity
PyExecJS
opencv-python
aiomysql
redis~=4.6.0
pydantic
aiofiles
fastapi==0.110.2
uvicorn==0.29.0
flask
scenedetect
python-dotenv
Pillow
filelock
openai-whisper
paddleocr
paddlepaddle