APScheduler
ffmpeg_python
numpy
playwright
pydub
Requests
SQLAlchemy
pymysql
loguru
edge_tts
snownlp
dbutils
httpx
tenacity
PyExecJS
aiomysql
redis~=4.6.0
pydantic
aiofiles
fastapi==0.110.2
uvicorn==0.29.0
flask
scenedetect
python-dotenv
Pillow==9.5.0
filelock
openai-whisper
paddleocr
paddlepaddle
pandas
pyaudio
pycaw
pygame